<div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="gem.fullImagePath" [alt]="gem.name">
    <div class="card-body">
        <p class="card-text"><strong>{{gem.name}}</strong></p>
        <p class="card-text">{{gem.description}}</p>
        <p class="card-text" style="font-style: italic">{{gem.price | currency}}</p>
    </div>
    <select>
        <option *ngFor="let color of gem.colors">{{color}}</option>
    </select>

    <button *ngIf="gem.inventory > 0" class="btn btn-default" (click)="addToCart()">Add to Cart</button>
    <button *ngIf="gem.inventory <= 0" class="btn btn-danger" disabled>Sold Out</button>
</div>
