<div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src="{{gem.fullImagePath}}" alt="{{gem.name}}" [class.red]="selectedcolor === 'red'" [class.green]="selectedColor === 'green'" [class.blue]="selectedColor === 'blue'"> -->
    <img class="card-img-top" src="{{gem.fullImagePath}}" alt="{{gem.name}}" [class.red]="selectedColor === 'red'" [class.green]="selectedColor === 'green'" [class.blue]="selectedColor === 'blue'" [class.yellow]="selectedColor === 'yellow'" [class.brown]="selectedColor === 'brown'" [class.purple]="selectedColor === 'purple'">
    <div class="card-body">
        <h5 class="col"><strong>{{gem.name}}</strong></h5>
        <h6 class="col" style="font-style: italic">{{gem.price | currency}}</h6>
        <app-tabs [gem]="gem"></app-tabs>
    </div>

    <!-- <select class="form-control" [(ngModel)]="selectedColor">
        <option *ngFor="let color of gem.colors">{{color}}</option>
    </select> -->
    <select class="form-control" [(ngModel)]="selectedColor">
        <option *ngFor="let color of gem.colors">{{color}}</option>
    </select>

    <button *ngIf="gem.inventory > 0" class="btn btn-default" (click)="addToCart()">Add to Cart</button>
    <button *ngIf="gem.inventory <= 0" class="btn btn-danger" disabled>Sold Out</button>
</div>
