<p>
    There are {{cart.totalquantity}} things in your cart
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartitem of cart.items">
            <th scope="row">{{cartitem.name}}</th>
            <td>{{cartitem.quantity}}</td>
            <td>{{cartitem.unitprice | currency}}</td>
            <td>{{cartitem.unitprice * cartitem.quantity | currency}}</td>
        </tr>
    </tbody>
</table>