/* You can add global styles to this file, and also import other style files */
.card-deck{
    margin-left: 2em;
    margin-top: 2em;
    margin-right: auto;
}
.navbar-brand{
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    margin-left: 1em;
}
footer{
    margin-left: 2em;
    margin-top: 2em;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(lightskyblue, azure);
}
