/* You can add global styles to this file, and also import other style files */
.card{
    margin-top: 1em;
}
.card-deck{
    margin-left: 2em;
}
.card-text{
    margin-right: 4em;
}
.navbar-brand{
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    margin-left: 1em;
}
.nav-link{
    text-align: center;
    font-size: .77em;
}
footer{
    margin-left: 2em;
    margin-top: 2em;
    text-align: center;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(lightskyblue, azure);
}
h5{
    text-align: center;
}
button.btn.btn-primary{
    margin-left: 2em;
}
